.intro {
  background: linear-gradient(135deg, #771a1a, #192175);
}

.projectHeader {
  font-size: 4rem;
  text-align: center;
  color: white;
  padding: 1rem 0;
}

.projectIntroduction {
  font-size: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: default;
  padding: 2rem 0;
}

.projectIntroduction > div > a {
  display: block;
  padding: 1rem 2rem;
  width: 25rem;
  margin: 0 2rem 2rem 2rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .5);
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  color: black;
  transition: .1s ease-in;
}

.projectIntroduction > div > a:hover {
  background-color: rgb(205, 179, 235);
}

.projectFeatures {
  font-size: 5rem;
  text-align: center;
  background-color: #222226;
  color: white;
}

.featureContent {
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
}

.accountSignIn {
  background-image: url('/project/accountSignIn.jpg');
  height: 187px;
  display: block;
}

.accountSignUp {
  background-image: url('/project/accountSignUp.jpg');
  height: 251px;
  display: block;
}

.featureLogo {
  background-repeat: no-repeat;
  background-size: contain;
  width: 25rem;
  border: 2px solid white;
  border-radius: 1rem;
}

@media (max-width: 555px) {
  .projectIntroduction > div > a {
    margin: 0 0 2rem 0;
    padding: 1rem 1rem;
    width: 15rem;
  }
}

@media (max-width: 1300px) {
  .featureContent {
    flex-direction: column;
    height: 50rem;
  }
  .projectIntroduction,
  .projectHeader,
  .projectFeatures {
    font-size: 3rem;
  }
}
