.start {
  background-image: url('/main/background2.jpg');
  background-size: cover;
  height: 35rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: default;
}

.welcome {
  font-size: 5rem;
  text-shadow: 0 0 1px black;
  padding-top: 5rem;
  color: white;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default;
}

.nodejsLogo {
  background-image: url('/logos/nodejs.png');
}

.javascriptLogo {
  background-image: url('/logos/js.jpg');
}

.HTMLLogo {
  background-image: url('/logos/html.png');
}

.CSSLogo {
  background-image: url('/logos/css.jpg');
}

.reactLogo {
  background-image: url('/logos/react.png');
}

.mongodbLogo {
  background-image: url('/logos/mongodb.png');
}

.expressLogo {
  background-image: url('/logos/express.png');
}

.skillItem {
  text-align: center;
  height:11rem;
  width: 8rem;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, .2);
  border-radius: 1rem;
  transition: .1s ease-in;
}

.skillItem div {
  width: 8rem;
  height: 8rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.skillItem h2 {
  margin-top: 0;
}

.skillItem:hover {
  transform: translateY(-1rem);
}

.aboutMe {
  background-image: url('/main/background1.jpg');
  height: 45rem;
  font-size: 5rem;
  text-align: center;
  cursor: default;
}

.aboutMe > span {
  color: white;
  text-shadow: 0 0 1px black;
}

.aboutMe > div {
  display: flex;
  justify-content: space-around;
}

.landings, .fullstacks {
  width: 35rem;
  height: 6rem;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  transition: .2s;
  background-color: white;
  color: black;
  margin: 2rem 0;
}

.landingsContent, .fullstacksContent {
  background-repeat: no-repeat;
  height: 0;
  transition: .2s;
}

.landings:hover, .fullstacks:hover {
  height: 30rem;
}

.landings:hover .landingsContent,
.fullstacks:hover .fullstacksContent {
  height: 23rem;
}

.landingsContent {
  background-image: url('/main/landing.jpg');
  background-size: cover;
}

.fullstacksContent {
  background-image: url('/main/fullstack.jpg');
  background-size: cover;
}

@media (max-width: 650px) {
  .welcome {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .start {
    height: 25rem;
  }
}

@media (max-width: 1850px) {
  .skillItem {
    width: 7rem;
    height: 10rem;
    padding: 1.5rem;
    margin: 1rem;
  }
  .skillItem > div {
    width: 7rem;
  }
}

@media (max-width: 1300px) {
  .start {
    display: block;
  }
  .welcome {
    padding-top: 2rem;
  }
}

@media (max-width: 1400px) {
  .aboutMe {
    font-size: 3rem;
    height: 30rem;
  }
  .landings, .fullstacks {
    width: 20rem;
  }
  .landings:hover .landingsContent {
    height: 13rem;
  }
  .fullstacks:hover .fullstacksContent {
    height: 13rem;
  }
  .landings:hover, .fullstacks:hover {
    height: 17rem;
  }
  .landings, .fullstacks {
    height: 3.5rem;
  }
}

@media (max-width: 850px) {
  .aboutMe > div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .aboutMe {
    height: 45rem;
  }
}
